arch: s390x
services:
  - docker
script: 
    docker build -t dotnetconsole -f Dockerfile .
before_deploy:
    - docker tag  dotnetconsole "$DOCKER_USERNAME"/dotnetconsole:latest
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin  
deploy:
  provider: script
  script: 
     docker push "$DOCKER_USERNAME"/dotnetconsole:latest
  on:
    branch: master  
    
    
